  header{
    font-weight:700;
    font-size: xx-large;
    text-align: left;
    padding-top: 5px;
    letter-spacing: 4px;
    padding-bottom:10px;
  }

  body {
    font-family: 'League Spartan';
    background-color:lavenderblush;
  }

  main{
    max-width:100%;
  }

  .inner {
    text-align: center;
    margin-left:28%;
    margin-right: 28%;
  }
  
  .topper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:  1% 15% 1% 15%;
    z-index: 50000;

  }

  nav{
    text-align: right;
    padding-top:5%;
  }


  .navul{
    list-style: none;
    float:right;
    padding: -110px;
    justify-content: flex-end;
    display: block;
    background-color: #dddddd;
  }

  li{
    padding-right:5px;
  }
    */


  .navlink{
    color:lavender;
  }
  /* maintain new lines in alt text */
  img{
      white-space:pre; 
      vertical-align: top;
  }

  .carousel{
    z-index: 1;
    position: relative;
  }
  
  #squiggle1{
    position:absolute;
    left:0;
    top:0;
    z-index: 1;
    width: 60%;

  }

  #squiggle2{
    position:absolute;
    left:0;
    top:50%;
    z-index: -20;
    width:100%;

  }

  .flowerrider{
    position:absolute;
    left:77%;
    top:-52%;
    z-index: 2;
    width:16%;
    background-image: "vectors/flowerrider.svg"
  }

  .content{
    position:relative;
    padding-top:15px;
    margin:20px;
    z-index: 50;
    padding-left:15%;
    padding-right:15%;
    /* background-color:lavenderblush; */
  }

  .highlight{
    display: inline;
    background-color: lightyellow;
  }

  .caption{
    z-index:55;
    padding-left:15%;
    padding-right:15%;
    font-size:x-large;
    margin-top:15px;
  }

  .left{
    width:45%;
    display:inline-block;
  }

  .right{
    width: 45%;
    margin-right:10px;
    display:inline-block;
  }

  
  @media (max-width:900px){
    #squiggle1{
        display:none;
        visibility: hidden;
    }
    .left{
        display:block;
        width:100%;
        margin:10px;
    }
    .right{
        display:block;
        width:100%;
        margin:10px;
    }
  }

  @media (min-width:720px){
    .navul{
        display: flex;
        flex-direction: row;
    }
    .content{
        font-size:large;
    }

    .caption{
        font-size: x-large;
    }

  }

  .calendar{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 50;
    margin-top:5%;
  }

  .footericon{
    margin:3px;
  }
  
 
